/*  your css code here. If applicable */
/*  your css code here. If applicable */
.container{
	border:2px solid black;
	text-align: center;
}
.code{
	width: 100px;
	height: 100px;
	margin: 10px;
	font-size:50px;
	text-align: center;
}
.para{
	width: 400px;
	margin: auto;
	background-color: #eaeaea;
	padding: 1px;
	border-radius: 5px;
	margin-top: 10px;
	margin-bottom: 10px;
}